<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ePharmacyWebTest" parallel="classes" verbose="5">

    <test name="Tradeling Tests Chrome" parallel="classes" thread-count="1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.HomeTest"></class>
        </classes>
    </test>

</suite> <!-- Suite -->
